@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>In an effort to provide a scheduling system that is simple and free, a system that can be self serving and self explaining.</p>
