@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2033 Ellsworth St<br />
    Philadelphia, PA 19146<br />
    <abbr title="Phone">P:</abbr>
    234.738.3732
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:indonesianphiladelphiapausa@gmail.com">indonesianphiladelphiapausa@gmail.com</a><br />
</address>