@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Publisher Scheduler</h1>
    <p class="lead">Publisher Scheduler is a free web site to schedule variety of assignments in the congregation of Jehovah's Witnesses. 
    The official website of Jehovah's Witnesses is jw.org.</p>
    <p><a href="https://jw.org" class="btn btn-primary btn-lg">Official Website &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start by creating records for publishers, their availabilities and then create records for the slots needed. 
            Then you can create the assignments.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Video Tutorials</h2>
        <p>Use the video tutorials to learn step by step on how to create the schedule.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manual</h2>
        <p>User Discussion.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>